<html>
<head>
  <title>Forum Friends</title>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
      <!-- Title -->
        <span class="mdl-layout-title">Welcome to Forum Friends</span>
      <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% unless user_signed_in? %>
            <%= link_to "Sign Up", new_user_registration_path, class: "mdl-navigation__link" %>
            <%= link_to "Sign In", new_user_session_path, class: "mdl-navigation__link" %>
          <% else %>
            <h5 class="welcome-email">Welcome, <%= current_user.email %></h5>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %>
          <% end %>
        </nav>
      </div>
    </header>
  </div>
</head>
<body>
  <main class="mdl-layout__content">
    <% @posts.each do |p| %>
      <div class="page-content">
          <ul class="demo-list-three mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
              <span><%= link_to p.title, class: "mdl-navigation__link" %></span>
              <span class="mdl-list__item-text-body">
                <%= truncate(p.content, length: 200) %>
              </span>
              <div class="post_creator">
              <% if p.user %>
                <small>Created by: <%= p.user.email %></small>
              <% end %>
            </span>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="add-new-post">
      <%= link_to "Add New Post", new_post_path, class: "mdl-button mdl-js-button mdl-button--raised" %>
    </div>
  </main>
</body>
</html>
